// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

.spiner {
  position: absolute;
  top: 50%;
  right: 40%;
  height: 4rem;
  width: 4rem;
  z-index: 2;
}
.productDescription {
  text-decoration: none;
  color: black;
}
.productDescription:hover {
  color: black;
  text-decoration: none;
}
